div.depart_container {
    overflow: hidden;
    margin: 60px 7.5% 24px 7.5%;
}

h1.depart_title {
    color: #3a485e;
}

div.depart_intro_container {
    position: relative;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 800px;
}

div.depart_intro_container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 80%;
    border-top: 1px solid #222222;
}

@media only screen and (max-width: 1000px) {
    div.depart_intro_container {
        width: 600px;
    }
}

@media only screen and (max-width: 750px) {
    div.depart_intro_container {
        width: 400px;
    }
}

@media only screen and (max-width: 500px) {
    div.depart_intro_container {
        width: 100%;
    }

    div.img_container {
        font-size: 12px;
    }
}

p.depart_intro {
    font-size: 16px;
}

div.img_container {
    width: 14.2857%;
    float: left;
    font-size: 14px;
}

div.space_container {
    width: 14.2857%;
    float:left;
    height: 1px;
}

img.profile_pic {
    border-radius: 10%;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}

p.member_name {
    margin-bottom: 5px;
}

p.member_role {
    color: #878787;
}
