#navbar {
  background-color: #414B5A;
  -webkit-box-shadow: #666 0px 0px 10px;
  -moz-box-shadow: #666 0px 0px 10px;
  box-shadow: #666 0px 0px 10px;
}
.navbar-text{
  color:rgb(254, 233, 180) !important
}

.navbar-brand{
  padding: 0px 6px 10px 0; /*让导航栏文字跟下面网页标题对齐*/
}
.navbar2-text {
  color: white;
}

.navbar2-sub-text {
  color: black;
}

#carousel {
  width: 100%;
}

.carousel_img {
  max-width: 99%;
  max-width: 99%;
}

.carousel_dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.carousel_dot:hover {
  background-color: #717171;
}

.active {
  background-color: #333333;
}

.dot_container {
  position: relative;
  bottom: 25px;
  text-align: center;
}

.carousel_container {
  display: none;
  width: 100%;
}

.contact {
  margin-top: 100px;
  height: 120px;
  background-color: rgb(201, 199, 199);
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

#contact_container{
  height: 85px;
}

div.contact_icon_container{
  height: 85px;
  width: 33%;
  float: left;
}

#contact_left {
  height: 50px;
  border-right: 2px solid #222222;
}

#contact_mid {
  height: 50px;
}

#contact_right {
  height: 50px;
  border-left: #222222 solid 2px;
}

.div_contact_info {
  margin-top: 2.5px;
  text-align: center;
  font-size: 14px;
}

.icon_img {
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 10%;
}

.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.borderBott {
  border-bottom-style:solid;
  border-color:rgb(180, 180, 180);
  border-width:1px
}

.borderBottShort {
  border-bottom-style:solid;
  border-color:rgb(224, 217, 217);
  border-width:1px
}


.borderOther {
  border-top-style:solid;
  border-left-style:solid;
  border-right-style:solid;
  border-color:rgb(180, 180, 180);
  border-width:1px
}

.borderBottShort::before{
  content: '';
	position: absolute;
	left: 26%;
	bottom: 1%;
	right: auto;
	height: 1.5px;
	width: 50%;
	background-color:gray
}

.borderOther2 {
  border-bottom-style:solid;
  border-color:rgb(224, 217, 217);
  border-width:1px
}

.borderOther2::before{
  content: '';
	position: absolute;
	left: 26%;
	bottom: 82%;
	right: auto;
	height: 1.5px;
	width: 50%;
	background-color:gray;
}

.depBox {
  height:20%;
  padding:15px


}

.depBox2{
  height:600px;
  padding:15px
}


@media screen and (max-width: 1280px) {
  .container {
      width: 1280px;
  }
}
.fa.showCenter{
  color:gray;
  margin:25% 30%
}

.h1show{
  color:gray;
  text-align:center; line-height: 250%; font-size: 64px
}

.changeLangBtn{
  width:120px;
  height: 40px;
  float: right;
  text-align: center;
  line-height: 40px;
  color: white;
  background-color: rgb(128, 128, 128);
  -webkit-box-shadow: #666 0px 0px 10px;
  -moz-box-shadow: #666 0px 0px 10px;
  box-shadow: #666 0px 0px 10px;
}

nav ul {
  display: flex;
justify-content : center; /*justify-content : center;元素在主轴（页面横轴）上居中排列*/
}
nav li {
position: relative;
  list-style: none;
padding: 0px;
transition-property: all;
transition-duration: 0.2s;
transition-timing-function:linear;
}
nav li::before {   /* 伪元素来做下划线 */ 
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0; /* 一开始宽度为0下划线也为0看不出来 */ 
  height: 100%;
  border-bottom: 4px solid rgb(254, 233, 180);
  transition: all 0.2s  linear;
}

nav li:hover::before {
  width: 100%; /* hover后宽度显示出来下划线也显示出来 */ 
  top: 0;
  left: 0;
  transition-delay: 0.1s;
  border-bottom-color: rgb(254, 233, 180);
}
nav li:active {
  background: rgb(254, 233, 180);
  color: #fff;
}
nav li:hover ~ nav li:before { /*~ 选择器：查找指定元素后面的所有兄弟结点*/
left: 0; /*处于hover后面元素的下划线从左侧开始显示*/
}
