div.depart_container {
    margin: 60px 7.5% 24px 7.5%;
}

div.depart_container_small_screen {
    margin: 30px 7.5% 12px 7.5%;
}

h2.depart_header {
    color: #3a485e;
    margin-bottom: 35px;
}

div.profile {
    display:flex;
    margin-bottom: 33px;
}

img.profile_pic {
    float: left;
    height: 100px;
    width: 75px;
    border-radius: 10%;
    margin-right: 15px;
}

div.info_container {
    float: left;
    height:100px;
    width: 140px;
    border-right: 1px solid #222222;
    padding-right: 20px;
}

div.info_field {
    height: 25px;
    width: 120px;
}

p.name {
    font-size: 14px;
}

p.other_info {
    font-size: 14px;
    color: #878787;
}

div.intro_container {
    flex-grow: 100;
    margin-left: 20px;
    height: 100px;
    max-width: 80%;
    float: left;
}

div.intro {
    overflow: hidden;
    height: 75px;
    font-size: 14px;
}

div.linkedin {
    height:25px;
    font-size: 14px;
}

p.intro {
    font-size: 14px;
}


@media only screen and (max-width: 700px) {
    div.intro_container {
        position: relative;
        margin-top: 120px;
        margin-left: -230px;
        width: 100%;
        font-size: 14px;
        height:auto;
    }
    
    div.intro {
        height: auto;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    div.info_container {
        border-right: none;
    }
}